.content-box {
  .adsense {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    .adBlock {
      width: 300px;
      height: 100px;
    }
    @media (min-width: 768px) {
      .adBlock {
        width: 468px;
        height: 60px;
      }
    }
    @media (min-width: 992px) {
      .adBlock {
        width: 728px;
        height: 90px;
      }
    }
  }
}


#right-sidebar {
  display: none;
  max-width: 300px;
  margin: 10px;
  margin-top: 20px;
  .adBlock {
    display: none;
  }
  @media (min-width: 992px) {
    display: flex;
    .adBlock {
      display: block;
      width: 160px;
      height: 600px;
    }

  }
  @media (min-width: 1300px) {
    display: flex;
    .adBlock {
      display: block;
      width: 300px;
      height: 1050px;
    }
  }

}
